@font-face {
    font-family: 'DXLubavaOTF.woff2';
    src: url('../fonts/DXLubavaOTF.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DXLubavaOTF.woff2';
    src: url('../fonts/DXLubavaOTF.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

