
$color-brown-light:#9E7964;
$color-brown: #5E4D42;
$color-brown-dark: #302218;
$color-brown-opasyti: #5e4d4255;
$color-orange-white:#ff6a14;
$color-orange:#CC7442;
$color-light-grey:#e5e5e5;
$color-white:white;
$color-crem: #edc8b3;
$font-family-base: 'DXLubavaOTF.woff2', sans-serif;

$container-width:1120px;
$width-max:1920px;

$laptop-l:1200px;
$laptop:1023px;
$tablet:767px;
$big-mobile:490px;
$small-mobil:320px;









