
$color-brown-light:#9E7964;
$color-brown: #5E4D42;
$color-brown-dark: #302218;
$color-brown-opasyti: #5e4d4255;
$color-orange-white:#ff6a14;
$color-orange:#CC7442;
$color-light-grey:#E5E5E5;
$color-white:white;
$font-family-base: 'DXLubavaOTF.woff2', sans-serif;

$container-width:1120px;
$width-max:1920px

