@import 'fonts',
'mixin',
'normolazy',
'variables';


:root {
    --main: #5E4D42;
    --main-rgb: 255, 255, 255;
    --main-rgb-grey: 229, 229, 229;
    --main-rgb-card: 255, 255, 255;
    --main-rgb-brown-dark: 48, 34, 24;
    --main-rgb-burger: 48, 34, 24;

}

html {
    font-family: $font-family-base;
    overflow-x: hidden;

}

body {
    background-color: rgb(var(--main-rgb));
    color: var(--main);

    & .lock {
        overflow: hidden;
    }
}


.theme {
    position: relative;
    z-index: 100;
    width: 50px;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &__light,
    &__dark {
        width: 34px;
        border-radius: 50%;
        padding: 2px;
        border: 3px solid $color-white;
        background-color: $color-brown;
    }

    &__light.active {
        display: none;
        opacity: 0;
    }

    &__dark.active {
        display: inline-block;
    }

    &__none {
        display: none;
    }
}

.dark-mode {
    --main: #ffff;
    --main-rgb: 51, 51, 51;
    --main-rgb-grey: 51, 51, 51;
    --main-rgb-card: 229, 229, 229;
    --main-rgb-burger: 255, 255, 255;
}

.header {
    position: sticky;
    background-color: $color-white;
    z-index: 120;
    top: 0;
    background-color: rgb(var(--main-rgb));

    &__container {
        position: relative;
        max-width: $container-width;
        width: 100%;
        height: 100px;
        margin: auto;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }

    &__img {
        width: 70px;
        border-radius: 50%;
        border: 2px solid $color-brown;
    }

    &__nav {
        @include flex;
        gap: 30px;

    }

    &__list {
        display: flex;
        gap: 29px;
        @include fluid-text(25, 18);

    }

    &__link {
        color: var(--main);

        &:hover {
            color: $color-orange;
            transition: all 0.4s;
            text-decoration: underline;
        }
    }
}

.messenger {
    padding-right: 10px;

    &__wrapper {
        @include flex;
        gap: 6px;
        justify-content: space-around;
    }

    &__svg-icons {
        width: 35px;
        background-color: $color-white;
        border-radius: 50%;
        padding: 2px;
    }
}

.number {
    text-align: center;
    font-weight: 700;
    @include fluid-text (25, 18);

    &__tel {
        color: var(--main);

        &:hover {
            color: $color-orange;
            transition: all 0.4s;
        }
    }
}

.header__burger {
    display: none;
    opacity: 0;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 100;

    span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0%;
        width: 100%;
        height: 2px;
        background-color: rgb(var(--main-rgb-burger));
        border-radius: 10px;
        transition: all 0.5s;

        &:first-child {
            top: 0;
        }

        &:last-child {
            top: auto;
            bottom: 0;
        }
    }
}


.main {
    overflow: hidden;
}

.section-hero {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &__container {
        max-width: $container-width;
        width: 100%;

        margin: auto;
        padding: 0 10px;
    }

    &__inner {
        max-width: 50%;
        padding: 10% 0 5% 0;
        position: relative;

        & h1 {
            @include fluid-text(48, 27);
            padding: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            color: $color-white;
            text-align: center;
            background-color: $color-brown-opasyti;
            margin: 0;


            & span {
                color: $color-orange-white;
                border-bottom: 2px solid $color-white;
                padding-bottom: 4px;

            }
        }

        & p {
            @include fluid-text(23, 18);
            font-weight: 600;
            letter-spacing: 0.09rem;
            padding: 0 20px 20px 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            color: $color-white;
            background-color: $color-brown-opasyti;
        }
    }

    &__image {
        position: absolute;
        width: 160px;
        bottom: 4px;
        right: -121px;
        border: 3px solid $color-orange;
        border-radius: 88%;
        margin-bottom: 40px;
    }

    &__catalog {
        position: absolute;
        z-index: 20;
        bottom: 96px;
        right: -87px;
        font-size: 17px;
        text-align: center;
        font-weight: 700;
        color: $color-white;

        &:hover {
            color: $color-orange-white;
            transition: all 0.3s;
        }
    }
}

.running-image {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    max-width: $width-max;

    &__active {
        animation: run-image 15s infinite linear;
        max-width: none;
        margin-bottom: 50px;
        height: 230px;
    }

    @keyframes run-image {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}


.catalog-pastil {
    background-color: rgb(var(--main-rgb-grey));

    &__bg-dark-color {
        background-size: cover;
    }

    .container {
        max-width: $container-width;
        width: 100%;
        margin: auto;
        display: grid;
    }

    .title {
        padding-top: 25px;
        text-align: center;
        color: $color-brown;
        color: var(--main);
        @include fluid-text(45, 35);


        &_orange {
            color: $color-orange;
        }

        &_white-color {
            font-weight: 900;
            color: $color-white;
            @include fluid-text(45, 35);

        }
    }

    &__wrapper {
        padding: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__wrapper li {
        background-color: rgb(var(--main-rgb-card));
        position: relative;
        list-style: none;
        padding: 20px 20px 30px 20px;
        border-radius: 10px;

        & .open {
            cursor: pointer;
            position: absolute;
            right: 45%;
            bottom: -6px;
            display: inline-block;
            width: 13px;
            height: 3px;
            background-color: transparent;
            transform: rotate(-90deg);
            padding: 20px 20px 24px 20px;
            border: 0px solid transparent;

            &:focus {
                outline: none;
            }

            &::before,
            &::after {
                position: absolute;
                content: "";
                display: inline-block;
                width: 15px;
                height: 3px;
                background-color: $color-brown-dark;
            }

            &::before {
                transform: rotate(-45deg) translate(0, -203%);
            }

            &::after {
                transform: rotate(45deg) translate(0, 203%);
            }

            &_active {
                position: absolute;
                z-index: 100;
                transition: all 0.3s;

                &::before {
                    transform: rotate(45deg) translate(0, -203%);
                }

                &::after {
                    transform: rotate(-45deg) translate(0, 203%);
                }
            }
        }
    }

    &__description-product {
        left: 0;
        background-color: $color-light-grey;
        border: 1px solid $color-brown;
        z-index: 99;
        position: absolute;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 300ms ease;

    }

    &__transform {
        transform: translateY(-100%);
    }

    .open-text {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0 5px;

    }

    &__wrapper img {
        border-radius: 10px;
    }


    & p {
        font-weight: 600;
        text-align: center;
        color: $color-brown;
        @include fluid-text (18, 16);
        padding-top: 10px;
        margin-bottom: 10px;
    }

    & p>span {
        font-weight: 900;
        color: $color-orange;
        @include fluid-text (25, 20);
        padding-bottom: 10px;
    }
}

.footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
        max-width: $container-width;
        width: 100%;
        margin: auto;
        padding: 100px 0 60px 0;
    }

    &__title {
        @include fluid-text(55, 30);
        text-align: center;
        color: $color-brown-dark;
        color: var(--main);
    }

    &__sub-title {
        @include fluid-text(30, 25);
        text-align: center;
        margin: 15px 0 25px 0;
        color: $color-brown-dark;
        color: var(--main);
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
        justify-content: center;
        position: relative;
        transform: translateX(-50%);
        opacity: 0;
    }

    &__mesenger {
        display: flex;
        align-items: center;
        width: 145px;
        height: 141px;
        border-radius: 145px;
        position: relative;
        border: 2px solid $color-brown-dark;

        &:hover {
            background-color: $color-brown-opasyti;
            transition: all 0.7s;
        }

        &_orange {
            background-color: $color-orange;
        }

        &_brown {
            background-color: $color-brown;
        }

        &_brown-light {
            background-color: $color-brown-light;
        }

        &_crem {
            background-color: $color-crem;
        }
    }

    &__instagram,
    &__vk,
    &__WhatSapp,
    &__telegram {
        font-size: 25px;
        font-weight: 600;
        color: $color-white;
        padding: 30px 10px;
    }

    &__telegram {
        padding-left: 20px;
    }

    &__number {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;

        & p {
            @include fluid-text(55, 25);
            margin-bottom: 0;
            color: $color-brown-dark;
            font-weight: 600;
            color: var(--main);
        }

        & a {
            @include fluid-text(30, 20);
            display: inline-block;
            padding: 30px;
            font-weight: 600;
            background-color: $color-crem;
            border-radius: 64px;
            color: $color-brown-dark;
            border: 2px solid $color-brown-dark;

            &:hover {
                background-color: $color-brown-opasyti;
                transition: all 0.4s
            }
        }
    }
}


.block-photo {
    max-width: $width-max;
    margin: auto;
    background-color: rgb(var(--main-rgb-grey));

    &__container {
        max-width: $container-width;
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        margin-bottom: 20px;
        border-radius: 20px;
        background-color: rgb(var(--main-rgb-card));

        transform: translateX(-50%);
        opacity: 0;

        &_visible {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    &__text {
        overflow: auto;
        max-height: 478px;
        background-color: rgb(var(--main-rgb-card));
        padding: 20px;
        border-radius: 20px;

        & p {
            color: $color-brown-dark;
            @include fluid-text(19, 16);
            margin-bottom: 10px;
        }
    }
}

.scrol {
    transform: translateX(0%);
    opacity: 1;
    transition: all 1.5s;
}

.swiper {
    display: flex;
    max-width: 478px;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 20px;
}

.swiper-wrapper {
    box-sizing: content-box;
}

.swiper-slide,
.swiper-slide img,
.swiper-slide video {
    width: 100%;
    max-height: 478px;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: $color-orange-white;
}

.swiper-pagination-bullet {
    background-color: $color-orange-white;
}



.delivery {
    max-width: $width-max;
    margin: auto;
    background-color: rgb(var(--main-rgb-grey));

    &__container {
        display: flex;
        justify-content: center;
        max-width: $container-width;
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;
        width: 100%;
        margin: 40px 0;
        padding: 30px;
        border-radius: 20px;
        background-color: rgb(var(--main-rgb-card));
        color: $color-brown;

        & h1 {
            @include fluid-text(50, 25);
        }

        & p {
            @include fluid-text(23, 16);
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}








@media(max-width:$laptop) {
    .running-image__active {
        height: 190px;
    }

    .catalog-pastil__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .catalog-pastil__transform_laptop {
        transform: translateY(-100%);
    }

    .block-photo__wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .block-photo__text {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        max-width: 478px;
        max-height: 334px;
        overflow: auto;
    }

    .block-photo__text {
        padding: 10px;
    }
}

@media(max-width:$tablet) {
    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:20%;
        opacity: 0;
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 0 20px 20px;
        width: 100vw;
        height: 100vh;
        background-color: $color-brown;
    }

    .header__list {
        flex-direction: column;
        @include fluid-text(30, 25);
    }

    .header__link {
        color: $color-white;
    }

    .header__end-block {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .header__burger {
        display: block;
        opacity: 1;

    }

    .number {
        margin-top: 15px;
        @include fluid-text (28, 25);

        &__tel {
            color: $color-white;
        }
    }


    .catalog-pastil__bg-dark-color {
        background-size: auto;
    }

    .catalog-pastil__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-hero__inner {
        max-width: 65%;
    }

    .catalog-pastil__transform_tablet {
        transform: translateY(-100%);
    }

    .delivery__content {
        max-width: 90%;
    }

    .block-photo__wrapper {
        transform: translateX(0%);
        opacity: 1;
    }

    .block-photo__text {
        max-height: 220px;
    }


    ._active {
        opacity: 1;
        transform: translateX(0%);
        transition: all 1.5s;

        span {
            transform: scale(0);

            &:first-child {
                top: calc(50% - 1px);
                transform: rotate(-45deg);
            }

            &:last-child {
                top: calc(50% - 1px);
                transform: rotate(45deg);
            }
        }
    }
}

@media(max-width:$big-mobile) {
    .catalog-pastil__wrapper {
        grid-template-columns: 0.8fr;
        justify-content: center;
    }

    .catalog-pastil__mobil {
        transform: translateY(-100%);
    }

    .section-hero__circle-img,
    .section-hero__catalog {
        display: none;
    }

    .section-hero__inner {
        max-width: 90%;
    }

    .section-hero__inner h1,
    .section-hero__inner p {
        background-color: #5e4d42a6;
    }

    .block-photo__text {
        max-height: 170px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after,
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 25px;
    }

    .delivery__content {
        max-width: 100%;
    }

}


@media(max-width:$small-mobil) {
    .section-hero__inner {
        max-width: 100%;
    }

    .catalog-pastil__wrapper li .open {
        right: 40%;
    }
}